node_modules/
.env
.DS_Store
backend/uploads
__pycache__/
shared_uploads/
val_datasets/
rest_datasets
guide_datasets/
metrics/
venv
at_slurm_job.sh
generated_codebooks/

# Dist
backend/dist
frontend/dist

.context
AGENTS.md
.idea