.sidebar-button {
  background-color: #373636;
  color: white;
  transition: background-color 0.15s ease;
}

.sidebar-button:hover {
  background-color: #4b4949;
  border-color: #4b4949;
}

.sidebar-button-collapsed {
  background-color: transparent;
  color: white;
  transition: background-color 0.5s ease-out, border-color 0.5s ease-out;
}

.sidebar-button-collapsed:hover {
  background-color: #373636;
  border-color: #373636;
}

.sidebar-menu-dropdown {
  background-color: #1c1a1a;
  border: 1px solid #2b2a2a;
}

.sidebar-menu-item {
  color: #ffffff;
}

.sidebar-menu-item[data-hovered] {
  background-color: #373636;
}

